#footer
  .footer-info
    p
      span 本站总字数:#{totalcount(site)}
      if theme.busuanzi == true
        span 总访问量：
          i#busuanzi_container_site_pv
            i#busuanzi_value_site_pv
          | 次
    p
      - var now = new Date()
      - var nowYear = now.getFullYear()
      span
          if theme.since && theme.since != nowYear
            span.copyright!= `${config.author} &copy; ${theme.since} - ${nowYear}`
          else
            span.copyright!= `${config.author} &copy; ${nowYear}`
          span
            a(href=theme.icp.url,target="_blank")= theme.icp.text
    p
      span  Powered by
        a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo
      span  Theme by
        a(rel='nofollow', target='_blank', href='https://github.com/chaooo/hexo-theme-BlueLake')  BlueLake

