include _partial/helpers

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

doctype html
html(lang='#{config.language}')
  head
    meta(name="google-site-verification", content="PR6S72-htn-N1oDn9ENMcwi5niLKk0uebDzmRS-oivs")
    meta(property="wb:webmaster", content="320520520031fedd")
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    meta(name='description', content=config.description)
    if config.keywords
      meta(name="keywords",content=config.keywords)
    block title
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Source+Code+Pro")
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', href=url_for(url))
    each item in theme.cdn.css
      if item !== undefined
        link(rel='stylesheet', href=item + '?v=' + theme.version)
    //link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/style.css' + '?v=' + theme.version)
    //link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/highlight.css' + '?v=' + theme.version)
    link(rel='Shortcut Icon', href=url_for(config.favicon || theme.favicon || '/favicon.ico'))
    link(rel="bookmark", href=url_for(config.favicon || theme.favicon || '/favicon.ico'))
    link(rel='apple-touch-icon', href=url_for('apple-touch-icon.png'))
    link(rel='apple-touch-icon-precomposed', href=url_for('apple-touch-icon.png'))
    if config.feed
      link(rel='alternate', type=feed_type, href=url_for(config.feed.path))
    script(type="text/javascript").
        window.GLOBAL_CONFIG = {
            root: '!{config.root}',
            copy: {
                success: '!{_p("copy.success")}',
                error: '!{_p("copy.error")}',
                noSupport: '!{_p("copy.noSupport")}'
            }
        }

    script(type="text/javascript").
        !function(e,t,n,g,i){e[i]=e[i] || function () {
            (e[i].q = e[i].q || []).push(arguments)
        }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
        gio('init','\n' +
            '<!-- GrowingIO Analytics code version 2.1 -->\n' +
            '<!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->\n' +
            '\n' +
            '<script type=\'text/javascript\'>\n' +
            '!function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=(\'https:\'==document.location.protocol?\'https://\':\'http://\')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");\n' +
            '  gio(\'init\',\'a2a964d9c5ed28c0\', {});\n' +
            '\n' +
            '//custom page code begin here\n' +
            '\n' +
            '//custom page code end here\n' +
            '\n' +
            'gio(\'send\');\n' +
            '\n' +
            '</script>\n' +
            '\n' +
            '<!-- End GrowingIO Analytics code version: 2.1 -->\n', {});

        gio('send');

each item in theme.cdn.js
    if item !== undefined
      script(src=url_for(item))
  //if theme.scripts !== undefined && theme.scripts.length > 0
  each item in theme.scripts
    if item !== undefined
      script(src=url_for(item) + '?v=' + theme.version)
  body
    canvas.fireworks
    .body_container
      #header
        .site-name
          h1.hidden= current_title
          a#logo(href=url_for('.'))= config.title
          p(style="font-size:18px").description= config.subtitle
        #nav-menu
          - for (var i in theme.menu)
            +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)
          hr
          br
          #nav-sub-menu
            - for (var i in theme.submenu)
              +a_with_current(theme.submenu[i].directory, __(theme.submenu[i].page), theme.submenu[i].icon)
        include _partial/search

      #layout.layout-g
        .layout-l: .content_container
          block content
        if theme.widgets_on_small_screens
          .layout-r: #sidebar
            if theme.local_search == true
              .search-pla
              block tocmodel
            each item in theme.widgets
              != partial('_widget/' + item + '.jade')
        else
          .layout-r.hidden_mid_and_down: #sidebar
            each item in theme.widgets
              != partial('_widget/' + item + '.jade')
      a#totop(href='#top')
      include _partial/render
      include _partial/footer
    include _partial/after_footer
    block pageOnly